# Class Distribution (Region, Tag) v.2
2020-04-27, John Rodriguez

In [1]:
import pandas as pd
from glob import glob
ada_parent_dir = "../"
import sys
sys.path.append(ada_parent_dir)
import ada
import matplotlib.pyplot as plt

Welcome to JupyROOT 6.20/04

In [2]:
data_path = "../processed_data/"
signal = "Xtohh"

In [3]:
#import datasets
datasets = {path.split('/')[-1][:-4]: pd.read_csv(path) for path in glob(data_path + signal + "[0-9]*.csv")}

In [4]:
#drop fakes and drop twodim
datasets = {sign_name: ada.drop_twodim(ada.drop_fakes(sign_df)) for sign_name, sign_df in datasets.items()}

In [5]:
#classify
datasets = {sign_name: ada.classify_events(sign_df, sign_name, "signal") for sign_name, sign_df in datasets.items()}

In [6]:
def wavg(df, x_col, weight_col):
    """ http://stackoverflow.com/questions/10951341/pandas-dataframe-aggregate-function-using-multiple-columns
    In rare instance, we may not have weights, so just return the mean. Customize this if your business case
    should return otherwise.
    x * w / sum(w)
    """
    x = df[x_col]
    w = df[weight_col]
    try:
        return (x * w).sum() / w.sum()
    except ZeroDivisionError:
        return x.mean()

def signal_density(df, signal_col):
    """Returns the class 1 count divided by the total count (class 1 and class 0)"""
    classes = df[signal_col]
    return classes.sum()/classes.count()

def signal_count(df, signal_col):
    """Returns the amount of signal (class 1) in a dataset"""
    return df[signal_col].sum()

def total_count(df):
    """Returns the amount of data in a dataset"""
    return df.shape[0]

def signal_distribution(df, signal_col, weight_col):
    """Returns info about the signal (class 1) in a dataset"""
    return pd.Series(
        [
            wavg(df, signal_col, weight_col),
            signal_density(df, signal_col),
            signal_count(df, signal_col),
            total_count(df),
        ],
        index = ["signal w-density", "signal density", "signal count", "total count"]
    )

In [7]:
signal_distri = {sign_name: sign_df.groupby(["m_region","m_FJNbtagJets"]).apply(signal_distribution, "signal", "EventWeight")
                      for sign_name, sign_df in datasets.items()}

In [8]:
for sign, df in signal_distri.items():
    print(sign)
    display(df)

Xtohh1400

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.022673        0.186782         650.0
         1                      0.193812        0.852051        1745.0
         2                      0.573403        0.977105        1323.0
SR       0                      0.014244        0.113492        2892.0
         1                      0.260706        0.838710        8138.0
         2                      0.799904        0.986695        6897.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3480.0
         1                   2048.0
         2                   1354.0
SR       0                  25482.0
         1                   9703.0
         2                   6990.0

Xtohh1600

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.025235        0.205726         733.0
         1                      0.218064        0.869340        2016.0
         2                      0.604643        0.980115        1528.0
SR       0                      0.019327        0.144804        3825.0
         1                      0.312164        0.867193       10219.0
         2                      0.825977        0.988679        8122.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3563.0
         1                   2319.0
         2                   1559.0
SR       0                  26415.0
         1                  11784.0
         2                   8215.0

Xtohh2500

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.028383        0.212796         765.0
         1                      0.217390        0.860945        1876.0
         2                      0.528050        0.972047        1078.0
SR       0                      0.025055        0.170431        4641.0
         1                      0.325882        0.869692       10445.0
         2                      0.799901        0.986275        6683.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3595.0
         1                   2179.0
         2                   1109.0
SR       0                  27231.0
         1                  12010.0
         2                   6776.0

Xtohh3000

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.019779        0.155224         520.0
         1                      0.155595        0.803502        1239.0
         2                      0.383231        0.951104         603.0
SR       0                      0.018007        0.126180        3262.0
         1                      0.245276        0.813846        6842.0
         2                      0.703923        0.976917        3936.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3350.0
         1                   1542.0
         2                    634.0
SR       0                  25852.0
         1                   8407.0
         2                   4029.0

Xtohh1200

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.014701        0.132700         433.0
         1                      0.136346        0.799471        1208.0
         2                      0.482659        0.968303         947.0
SR       0                      0.008625        0.074673        1823.0
         1                      0.173790        0.762122        5014.0
         2                      0.720098        0.979641        4475.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3263.0
         1                   1511.0
         2                    978.0
SR       0                  24413.0
         1                   6579.0
         2                   4568.0

Xtohh1000

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.004281        0.084439         261.0
         1                      0.042904        0.694556         689.0
         2                      0.219222        0.947547         560.0
SR       0                      0.002029        0.038396         902.0
         1                      0.042589        0.579188        2154.0
         2                      0.321030        0.946552        1647.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3091.0
         1                    992.0
         2                    591.0
SR       0                  23492.0
         1                   3719.0
         2                   1740.0

Xtohh1800

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.029177        0.224658         820.0
         1                      0.229232        0.873539        2093.0
         2                      0.609446        0.980367        1548.0
SR       0                      0.022967        0.166267        4505.0
         1                      0.339815        0.879957       11472.0
         2                      0.834691        0.989246        8555.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3650.0
         1                   2396.0
         2                   1579.0
SR       0                  27095.0
         1                  13037.0
         2                   8648.0

Xtohh2000

                        signal w-density  signal density  signal count  \
m_region m_FJNbtagJets
QCDCR    0                      0.031264        0.232854         859.0
         1                      0.235936        0.877823        2177.0
         2                      0.605728        0.979739        1499.0
SR       0                      0.024160        0.171313        4670.0
         1                      0.352081        0.884186       11948.0
         2                      0.834095        0.989252        8560.0

                        total count
m_region m_FJNbtagJets
QCDCR    0                   3689.0
         1                   2480.0
         2                   1530.0
SR       0                  27260.0
         1                  13513.0
         2                   8653.0

### Testing Xtohh3000

In [10]:
xtohh3k = datasets["Xtohh3000"]
xtohh3k_SR_1 = ada.filter_tag(ada.filter_region(xtohh3k, "SR"),1)

In [11]:
xtohh3k_SR_1

,sample,EventWeightNoXSec,EventWeight,EventNumber,m_region,m_FJNbtagJets,m_AntiBTag,m_AntiTauTag,m_FJpt,m_FJeta,...,m_dRFJwDT,m_dPhiDTwMET,m_MET,m_hhm,m_bbttpt,m_hhm_Coll,m_hhm_Eff,m_hhm_ConEff,m_hhm_ConVis,signal
1,Xtohh3000_Hw,0.000215,0.001218,16856,SR,1,4,0,1119.43000,0.743337,...,3.302337,0.052070,230.261640,2581.2793,233.775800,-999.0,2817.0266,1776.9835,3684.4630,1
3,Xtohh3000_Hw,0.000250,0.001412,25697,SR,1,3,0,1080.83230,-0.816572,...,3.690979,-0.010380,446.800720,2075.6934,690.643740,-999.0,2626.5530,1214.9288,2790.2017,1
6,Xtohh3000_Hw,0.000138,0.000779,18616,SR,1,2,0,1347.44680,0.966958,...,3.179263,0.049044,551.810100,2004.8794,732.363000,-999.0,2785.3933,2849.0884,2686.3398,1
10,Xtohh3000_Hw,0.000162,0.000917,15589,SR,1,3,0,1249.93000,0.630004,...,3.259279,-0.033452,454.588530,2338.5483,440.122440,-999.0,2841.6187,1963.4897,2887.8950,1
11,Xtohh3000_Hw,0.000294,0.001662,28388,SR,1,5,0,1051.43640,0.218929,...,3.427173,-0.141603,314.087200,2101.7942,609.684450,-999.0,2496.7705,995.1817,3271.6902,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43629,Zee_Sh221,1.249113,0.026109,8658682,SR,1,2,0,559.59735,-0.676523,...,3.115892,0.233937,83.130070,1127.2223,146.785100,-999.0,1265.1052,735.7180,1295.4163,0
43630,Zee_Sh221,2.113077,0.044167,9086994,SR,1,2,0,590.51746,-0.128761,...,3.308538,-0.494272,94.941414,1339.4166,63.472160,-999.0,1458.2493,858.7932,1977.5603,0
43694,Zee_Sh221,1.287478,0.026911,6781215,SR,1,2,0,508.78125,0.049884,...,3.432275,-0.093254,13.806347,1338.2550,8.719521,-999.0,1354.7965,1215.0686,1541.4379,0
43724,Zee_Sh221,-1.870001,-0.009326,3284754,SR,1,2,0,1063.02840,-1.100413,...,3.103988,-0.031813,32.383114,2111.0557,48.005642,-999.0,2162.3500,1658.3523,2396.9138,0
43746,Zee_Sh221,1.207375,0.006021,2997263,SR,1,5,0,788.36440,0.130415,...,3.387701,0.016113,143.636460,2092.5610,52.072660,-999.0,2274.7420,1116.0960,2506.5757,0

In [12]:
xtohh3k_SR_1["signal"].sum() / xtohh3k_SR_1.shape[0]

0.8138456048530986

In [13]:
xtohh3k = datasets["Xtohh3000"]
xtohh3k_QCDCR_2 = ada.filter_tag(ada.filter_region(xtohh3k, "QCDCR"),2)

In [14]:
xtohh3k_QCDCR_2.shape

(634, 39)

In [15]:
xtohh3k_QCDCR_2["signal"].sum() / xtohh3k_QCDCR_2.shape[0]

0.9511041009463722

In [16]:
xtohh3k_QCDCR_2.shape[0]

634

In [ ]:
xtohh3k_QCDCR_2["signal"].sum()