# Check Root Data
2020-05-07, John Rodriguez

Checking the amount of data in every root file, and how many events per region are there.

In [1]:
ada_parent_dir = "../"
import sys
sys.path.append(ada_parent_dir)
import ada
from glob import glob
import pandas as pd

Welcome to JupyROOT 6.20/04

In [2]:
data_path = "../raw_data"
signal = "Xtohh"

In [3]:
all_roots = glob(f"{data_path}/*.root")
signal_roots = glob(f"{data_path}/{signal}*.root")
bg_roots = list(set(all_roots) - set(signal_roots) - set(glob(f"{data_path}/data.root")))

signal_roots.sort()
bg_roots.sort()

In [4]:
bg_roots

['../raw_data/WW_Pw.root',
 '../raw_data/WZ_Pw.root',
 '../raw_data/Wenu_Pw.root',
 '../raw_data/Wmunu_Pw.root',
 '../raw_data/Wtaunu_221.root',
 '../raw_data/ZZ_Pw.root',
 '../raw_data/Zee_221.root',
 '../raw_data/Zmumu_Pw.root',
 '../raw_data/Ztautau.root',
 '../raw_data/stopWt.root',
 '../raw_data/stopschan.root',
 '../raw_data/stoptchan.root',
 '../raw_data/ttbar.root']

In [9]:
signal_dfs = {signal_root.split('/')[-1][:-5]: ada.drop_twodim(ada.drop_fakes(ada.root_to_df(signal_root))) for signal_root in signal_roots}
bg_dfs = {bg_root.split('/')[-1][:-5]: ada.drop_twodim(ada.root_to_df(bg_root)) for bg_root in bg_roots}

In [10]:
def root_df_info(df):
    """Returns info about the root dataset"""
    return df.shape[0], df["sample"].unique(), df["m_region"].unique()

In [11]:
pd.DataFrame.from_dict(
    {signal_name: root_df_info(signal_df) for signal_name, signal_df in signal_dfs.items()},
    orient = "index",
    columns = ["size", "samples", "regions"]
)

            size         samples      regions
Xtohh1000   6213  [Xtohh1000_Hw]  [QCDCR, SR]
Xtohh1200  13900  [Xtohh1200_Hw]  [SR, QCDCR]
Xtohh1400  21645  [Xtohh1400_Hw]  [SR, QCDCR]
Xtohh1600  26443  [Xtohh1600_Hw]  [QCDCR, SR]
Xtohh1800  28993  [Xtohh1800_Hw]  [SR, QCDCR]
Xtohh2000  29713  [Xtohh2000_Hw]  [SR, QCDCR]
Xtohh2500  25488  [Xtohh2500_Hw]  [SR, QCDCR]
Xtohh3000  16402  [Xtohh3000_Hw]  [SR, QCDCR]

In [8]:
pd.DataFrame.from_dict(
    {bg_name: root_df_info(bg_df) for bg_name, bg_df in bg_dfs.items()},
    orient = "index",
    columns = ["size", "samples", "regions"]
)

             size                                 samples      regions
WW_Pw          46                           [WWPw, fakes]  [SR, QCDCR]
WZ_Pw         342                           [WZPw, fakes]  [SR, QCDCR]
Wenu_Pw         0                                      []           []
Wmunu_Pw        0                                      []           []
Wtaunu_221  10979    [fakes, Wl, Wcc, Wcl, Wbl, Wbb, Wbc]  [QCDCR, SR]
ZZ_Pw         285                           [fakes, ZZPw]  [SR, QCDCR]
Zee_221      1120                      [Zee_Sh221, fakes]  [SR, QCDCR]
Zmumu_Pw        0                                      []           []
Ztautau     34793    [Zl, Zbb, fakes, Zcl, Zcc, Zbl, Zbc]  [SR, QCDCR]
stopWt        395                         [fakes, stopWt]  [SR, QCDCR]
stopschan      22                                 [fakes]  [SR, QCDCR]
stoptchan      22                          [fakes, stopt]  [QCDCR, SR]
ttbar        3805  [fakes, ttbar_nonallhad, ttbar_allhad]  [SR, QCDCR]